# Training Configuration

output_dir: "zimage-wds-training"
seed: 42
report_to: "wandb"
validation_prompt: 
  - "touhou rumia general 1girl d alternate_costume apron black_kimono black_skirt blonde_hair bow enmaided fang hair_between_eyes hair_bow heart heart_hands japanese_clothes kimono long_sleeves looking_at_viewer maid neck_ribbon obi obijime okobo one_eye_closed open_mouth platform_sandals red_bow red_eyes red_ribbon ribbon sandals sash short_hair simple_background skin_fang skirt smile socks solo standing standing_on_one_leg wa_maid white_apron white_background white_sash white_socks wide_sleeves yagasuri"
  - "kantai collection akagi (kancolle) 1girl arrow (projectile) blush bow (weapon) brown eyes brown gloves brown hair gloves hair between eyes holding holding arrow japanese clothes kimono long hair looking at viewer muneate partially fingerless gloves simple background smile solo tasuki two-tone background upper body weapon white kimono yugake"
  - "ivorye genshin impact furina (genshin impact) 1girl :d ahoge ascot blue ascot blue eyes blue hair blue hat blue jacket brooch colored inner hair gloves hat indoors jacket jewelry long sleeves looking at viewer multicolored hair open mouth short hair smile solo streaked hair top hat upper body white gloves white hair"
  - "hiroita original 1girl animal ear fluff animal ears blinking blonde hair blue background blue bow bow brown jacket collar forest fox ears fox girl fox tail from side hair between eyes hair bow jacket leaf light rays long sleeves looking at viewer medium hair nature neck ribbon orange skirt outdoors pixel art plant pleated skirt red ribbon ribbon sidelighting skirt solo tail upper body vines white collar yellow eyes"
  - "isobe toast original 1girl black dress black hat cloud dress flower pot from behind garden hat lined paper outdoors plant shack sky solo standing tree very wide shot window wooden door"
  - "hua bu neng yan original 1girl bare shoulders black dress black shoes blush butterfly wings chibi chibi only closed mouth dress full body hand up insect wings long hair looking at viewer low wings pink eyes pink hair rabbit girl shoes sleeveless sleeveless dress smile solo standing standing on one leg too many watermarks twintails v watermark wings wrist cuffs"
  - "dear arisu cardcaptor sakura original kinomoto sakura kinomoto sakura (princess costume) 1girl blush choker choppy bangs closed mouth cosplay cowboy shot dress feathered wings flat chest grey hair hands up kinomoto sakura long hair looking at viewer lying on back pink dress puffy short sleeves puffy sleeves red choker short sleeves solo star (symbol) star choker wings yellow eyes"
  - "yuuuzu (jufan) original 1girl blue butterfly bow bug butterfly cherry blossoms closed mouth double bun eyelashes eyepatch facial mark falling petals flower hair bun hair intakes japanese clothes kimono looking at viewer one eye covered petals pink bow pink eyes pink flower pink hair pink kimono pink petals sample watermark sidelocks solo watermark"
validation_steps: 300

# Optimization
learning_rate: 3.0e-4
lr_scheduler_type: "cosine" # Options: "linear", "cosine", "cosine_with_restarts", "polynomial", "constant", "constant_with_warmup"
lr_warmup_steps: 50
mixed_precision: "bf16"
gradient_accumulation_steps: 1
gradient_checkpointing: true
use_ema: true
ema_decay: 0.9999
ema_update_after_step: 0
resume_from_checkpoint: "latest" # "latest" or path to checkpoint directory
checkpointing_steps: 1000
checkpoints_total_limit: 3
# Data (WebDataset)
data_url: "pipe:curl -s -L https://huggingface.co/datasets/DSULT-Alya/Renai-Circulation-bucketized-crossing-field/resolve/main/0000/bucket_00{{00..99}}_000000.tar -H 'Authorization:Bearer '"
resolution: 256 # Base resolution (int or [w, h])
bucket_step_size: 32
train_batch_size: 32
dataloader_num_workers: 2
max_train_steps: 10000

# Timestep Sampling
timestep_sampling:
  weighting_scheme: "cosmap" # Options: "cosmap", "logit_normal", "uniform"
  logit_mean: 0.0
  logit_std: 1.0
  mode_scale: 1.29

# Model Configuration (Pretrain from Scratch)
pretrained_model_name_or_path: "Tongyi-MAI/Z-Image-Turbo"
text_encoder_path: "Tongyi-MAI/Z-Image-Turbo"
vae_path: "Tongyi-MAI/Z-Image-Turbo"
transformer_class_path: "diffusers.ZImageTransformer2DModel"
caption_dropout_prob: 0.1
model_config: false
#model_config:
#    all_f_patch_size:
#      - 1
#    all_patch_size:
#      - 2
#    axes_dims:
#      - 32
#      - 48
#      - 48
#    axes_lens:
#      - 1536
#      - 512
#      - 512
#    cap_feat_dim: 640
#    dim: 768
#    in_channels: 16
#    n_heads: 6
#    n_kv_heads: 6
#    n_layers: 8
#    n_refiner_layers: 2
#    #norm_eps: 1e-05
#    qk_norm: true
#    rope_theta: 256.0
#    t_scale: 1000.0