# Training Configuration

output_dir: "zimage-wds-training-3"
seed: 42
report_to: "wandb"
validation_prompt:
  - "mean_luminance: 0.73 std_luminance: 0.15 low_freq_energy: 10.70 high_freq_energy: 4.29 edge_density: 0.04 | general, hatsune_miku, 1girl, absurdly_long_hair, aqua_eyes, aqua_hair, aqua_theme, blue_jacket, blue_sky, blue_sweater, building, city, cityscape, colored_skin, floating_hair, from_side, jacket, limited_palette, long_hair, looking_up, monochrome, open_clothes, open_jacket, open_mouth, oversized_clothes, pale_skin, profile, puffy_sleeves, rooftop, sky, solo, sweater, twintails, very_long_hair, white_skin"
  - "mean_luminance: 0.66 std_luminance: 0.27 low_freq_energy: 11.98 high_freq_energy: 4.53 edge_density: 0.09 | general, 1boy, androgynous, flower, fox, grey_eyes, grey_hair, lying, male_focus, on_back, pale_skin, school_uniform, serafuku, solo, upturned_eyes, white_flower, white_hair"
  - "mean_luminance: 0.57 std_luminance: 0.41 low_freq_energy: 12.67 high_freq_energy: 7.56 edge_density: 0.06 | general, 2boys, :d, apron, arm_hair, black_hair, black_pants, black_shirt, bodysuit, bomb, cape, chef_hat, comic, counter, doorway, explosive, facial_hair, frown, gloves, hat, holding, long_nose, male_focus, meme, multiple_boys, mustache, open_mouth, orange_cape, pants, shirt, short_hair, short_sleeves, silent_comic, smile, squinting, teeth, white_apron, white_gloves, white_hat, yellow_bodysuit, yellow_hat"
  - "mean_luminance: 0.49 std_luminance: 0.23 low_freq_energy: 11.67 high_freq_energy: 5.54 edge_density: 0.13 | general, asahina_aoi, kirigiri_kyoko, 2girls, belt, black_belt, black_gloves, black_jacket, black_skirt, blue_eyes, bottle, brown_hair, dark-skinned_female, dark_skin, gloves, grey_hair, hair_ornament, hand_up, holding, holding_bottle, jacket, ketchup, ketchup_bottle, long_hair, lying, multiple_girls, necktie, official_alternate_costume, on_back, one_eye_closed, open_clothes, open_jacket, pencil_skirt, ponytail, short_hair, shorts, skirt, tongue, tongue_out"
  - "mean_luminance: 0.58 std_luminance: 0.26 low_freq_energy: 11.46 high_freq_energy: 4.16 edge_density: 0.06 | general, 2girls, beach, black_hair, black_skirt, blouse, blue_neckerchief, blue_sailor_collar, blurry, blurry_background, collarbone, hand_on_another's_shoulder, leaning_on_person, lens_flare, long_hair, medium_hair, multiple_girls, neckerchief, ocean, outdoors, pleated_skirt, purple_eyes, reflection, reflective_water, sailor_collar, school_uniform, serafuku, shirt, short_sleeves, skirt, standing, white_shirt"
  - "mean_luminance: 0.53 std_luminance: 0.22 low_freq_energy: 12.33 high_freq_energy: 5.07 edge_density: 0.12 | general, 1girl, animal_ears, artist_name, bare_legs, barefoot, blush, breasts, english_text, green_eyes, grey_background, long_sleeves, looking_at_viewer, multicolored_hair, nose, open_mouth, short_hair, simple_background, solo, tentacle_hair, toes"
  - "mean_luminance: 0.29 std_luminance: 0.25 low_freq_energy: 11.64 high_freq_energy: 4.28 edge_density: 0.07 | general, 1girl, aqua_gemstone, blue_background, blue_gemstone, brown_eyes, claw_ring, colored_eyelashes, dripping, ear_piercing, earrings, fingernails, gem, gold, gold_earrings, gold_ring, gradient_background, green_gemstone, hands_on_own_face, jewelry, liquid, looking_up, multiple_earrings, nose_piercing, nose_ring, ornate_ring, parted_lips, piercing, pink_gemstone, purple_gemstone, red_gemstone, ribbon, ring, sharp_fingernails, signature, solo, surreal, upper_body, yellow_nails"
  - "mean_luminance: 0.85 std_luminance: 0.22 low_freq_energy: 14.99 high_freq_energy: 7.93 edge_density: 0.03 | general, , 1girl animal_ears closed_mouth eyelashes flower frilled_sleeves frills hair_flower hair_ornament headdress long_hair long_sleeves looking_at_viewer makeup mole mole_under_eye picture_frame pink_eyes pink_flower pink_hair pink_petals rabbit_ears rouge_(makeup) smile solo upper_body watermark white_background white_headdress"
  - "mean_luminance: 0.52 std_luminance: 0.24 low_freq_energy: 13.38 high_freq_energy: 4.43 edge_density: 0.01 | general, fuiba_fuyu, 1girl :o against_glass aquarium black_ribbon blue_eyes blue_hair blue_sailor_collar blue_skirt breasts fish hair_ornament hairclip hand_on_glass neck_ribbon open_mouth plaid_clothes plaid_sailor_collar plaid_skirt pleated_skirt ribbon sailor_collar school_uniform serafuku shirt short_hair short_sleeves skirt small_breasts solo white_shirt"
  - "mean_luminance: 0.86 std_luminance: 0.25 low_freq_energy: 14.98 high_freq_energy: 7.38 edge_density: 0.04 | general, nahida_(genshin_impact), 1girl alternate_costume black_bow black_bowtie black_shoes blush bow bowtie closed_eyes closed_mouth dress enmaided flower frilled_hairband frills full_body gradient_hair green_hair hairband long_hair maid maid_headdress multicolored_hair pointy_ears ringlets shoes side_ponytail simple_background solo thighhighs white_background white_dress white_flower white_hair white_hairband white_thighhighs"
  - "mean_luminance: 0.75 std_luminance: 0.27 low_freq_energy: 12.61 high_freq_energy: 5.52 edge_density: 0.05 | general, matsukai_mao matsukai_mao_(2nd_costume), 1girl animal_ears apron black_dress blush cat_ears cat_girl cat_tail dark-skinned_female dark_skin dress fang grey_hair looking_at_viewer maid maid_apron official_alternate_costume one_eye_closed purple_eyes solo tail virtual_youtuber white_apron"

validation_steps: 200

# Optimization
learning_rate: 0.0002
afm_lambda: 0
consistency_lambda: 0
max_grad_norm: 1.0
lr_scheduler_type: "cosine" # Options: "linear", "cosine", "cosine_with_restarts", "polynomial", "constant", "constant_with_warmup"
lr_warmup_steps: 100
mixed_precision: "bf16"
gradient_accumulation_steps: 1
gradient_checkpointing: true
use_ema: true
ema_decay: 0.9999
ema_update_after_step: 0
resume_from_checkpoint: "latest" # "latest" or path to checkpoint directory
checkpointing_steps: 500
checkpoints_total_limit: 3
# Data (WebDataset)
#data_url: "pipe:curl -s -L https://huggingface.co/datasets/DSULT-Alya/Renai-Circulation-bucketized-crossing-field/resolve/main/0000/bucket_00{{00..99}}_000000.tar -H 'Authorization:Bearer '"
data_url: "/workspace/shinon/anime/train/000{01..37}.tar"
resolution: 256 # Base resolution (int or [w, h])
bucket_step_size: 32
train_batch_size: 128
dataloader_num_workers: 32
max_train_steps: 100000

# Timestep Sampling
timestep_sampling:
  weighting_scheme: "uniform" # Options: "cosmap", "logit_normal", "uniform"
  logit_mean: 0.0
  logit_std: 1.0
  mode_scale: 1.29

# Model Configuration (Pretrain from Scratch)
pretrained_model_name_or_path: "Tongyi-MAI/Z-Image-Turbo"
text_encoder_path: "Tongyi-MAI/Z-Image-Turbo"
vae_path: "Tongyi-MAI/Z-Image-Turbo"
transformer_class_path: "diffusers.ZImageTransformer2DModel"
caption_dropout_prob: 0.1
model_config: false
#model_config:
#    all_f_patch_size:
#      - 1
#    all_patch_size:
#      - 2
#    axes_dims:
#      - 32
#      - 48
#      - 48
#    axes_lens:
#      - 1536
#      - 512
#      - 512
#    cap_feat_dim: 640
#    dim: 768
#    in_channels: 16
#    n_heads: 6
#    n_kv_heads: 6
#    n_layers: 8
#    n_refiner_layers: 2
#    #norm_eps: 1e-05
#    qk_norm: true
#    rope_theta: 256.0
#    t_scale: 1000.0